<header ng-include="'templates/header.html'"></header>

<div id="books" ng-repeat="book in $ctrl.simillarBooks">
        <div class="row panel-book">
            <div class="col-lg-2" >
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <h3>{{book.title}}</h3>
                    <img src="{{book.img}}" alt="" class="img-responsive"/>
                    <p><strong>{{book.author}}</strong></p>
                    <p><b>Editorial: {{book.editorial}}</b></p>
                    <p class="text-justify">{{book.synopsis}}</p>
                </div>
            </div>
        </div>
    </div>
    <a ui-sref="home"><button class="btn btn-info">Volver</button></a>